# Python_Basics

In [1]:
# how to create variables in python
x=5
y="John"
print(x)
print(y)

5
John

In [3]:
# how to change the type of variable
x=5
x="BOB"
print(x)

BOB

In [ ]:
# Casting in variables
x=str(3)
y=int(3)
z=float(3)
print(x,y,z)

In [4]:
# how to get type of variable
x=5
y="john"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [6]:
#single or Double quotes in variables
x="john"
print(x)
x='john'
print(x)

john
john

In [7]:
# Case Sensitive Variables
a="alias"
A="john"
print(a)
print(A)

alias
john

In [11]:
myvar="Hello world"
MYVAR="What are you doing"
print(myvar,MYVAR)

Hello world What are you doing

In [3]:
# variables names:(legal or illegal)
myvar="samra"
MYVAR="SAMRA"
MY_VAR="samra"
_my_var='samra'
myVar="samra"
myvar2="samra"
print(_my_var)
print(MYVAR)
print(myvar)
print(MY_VAR)
print(myvar2)
print(myVar)

samra
SAMRA
samra
samra
samra
samra

In [4]:
# Illegal Variables name
7name="python"
name class="seven"
my var =124
my-var="name"
print(7name)
print(class)
print(my var)
print(my-var)

SyntaxError: invalid decimal literal (3196556706.py, line 2)

In [5]:
#Camel-case,Pascal-Case,Snake-Case
yourCodingLanguage="Python"
YourCodingLanguage="Java"
your_coding_language="R-Languages"
print(yourCodingLanguage)
print(YourCodingLanguage)
print(your_coding_language)

Python
Java
R-Languages

In [6]:
# Many Values to Multiple Variables
a,b,c="Blue","Yellow","Red"
print(a)
print(b)
print(c)

Blue
Yellow
Red

In [7]:
#if variable value is missing:
a,b,c,d="Blue","yellow","Red"
print(a,b,c,)

ValueError: not enough values to unpack (expected 4, got 3)

In [10]:
#One value to multiple variables:
x=y=z="Banana"
print(x)
print(y)
print(z)

Banana
Banana
Banana

In [12]:
#Unpack A Collection:
items=["pizza","Burger","Chinese","italian"]
a,b,c,d=items
print(a)
print(b)
print(c)
print(d)

pizza
Burger
Chinese
italian

In [14]:
#Unpack A collection:
items=['Pizza','Burger','Chinese','italian']
a=b=c=d=items
print(a,b,c,d)

['Pizza', 'Burger', 'Chinese', 'italian'] ['Pizza', 'Burger', 'Chinese', 'italian'] ['Pizza', 'Burger', 'Chinese', 'italian'] ['Pizza', 'Burger', 'Chinese', 'italian']

In [20]:
# OutputVariable:
a=10
z="I live in pakistan"
print(z,a)
a="Python"
b="is"
c="Awesome"
print(a,b,c)

I live in pakistan 10
Python is Awesome

In [28]:
#Use of + operator in multiple variable:
a="Hello "
b="Python "
c="world "
print(a + b + c)

Hello Python world

In [29]:
#for number + work as a operator:
a=99
b=89
print(a+b)

188

In [34]:
# + not add strings and numbers:
a=89
b="Hello World"
print(a+b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [36]:
a=89
b="Hello world"
print(a,b)

89 Hello world

In [45]:
#Global Variales:
x="Hello"
def my_function():
    print("python "+x)
y=my_function()

python Hello

In [52]:
#local Variables:
x="MY Country is amazing"
def calculate():
    x="Fantastic"
    print("Who is "+ x)

calculate()

print("listen",x)

Who is Fantastic
listen MY Country is amazing

In [55]:
#Global Keyword
def calculate():
    global x
    x="Fantastic"
calculate()
print("Python "+x)

Python Fantastic

In [57]:
#Change Global Value inside the function:
x="Amazing"
def Function():
    global x
    x="python"
Function()
print(x)

python

In [63]:
#PYTHON DATATYPES:
#Getting Data Types:
x="Samra"
y=789
z=89.00
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'int'>
<class 'float'>

In [73]:
#Getting all the types:
x="country"
y=897
z=90.8
a='m7'
b=["fruit","color","bakers"]
c=("hello","Nice")
d=frozenset({"myname","helloworld"})
e=range(7)
f={"name":"hello","extension":"world"}
h=True
i=b"hello"
j=bytearray(6)
k=memoryview(bytes(6))
l={123,234,56}
m=None
print(type(x),type(y),type(z),type(a),type(b),type(c),type(d),type(e),type(f),type(h),type(i),type(j),type(k),type(l),type(m))

<class 'str'> <class 'int'> <class 'float'> <class 'str'> <class 'list'> <class 'tuple'> <class 'frozenset'> <class 'range'> <class 'dict'> <class 'bool'> <class 'bytes'> <class 'bytearray'> <class 'memoryview'> <class 'set'> <class 'NoneType'>

In [80]:
# Setting the Specific DataTypes using Const():
x=str("country")
y=int(897)
z=float(90.8)
a=complex(1j)
b=list(("fruit","color","bakers"))
c=set(("hello","Nice"))
d=frozenset({"myname","helloworld"})
e=range(7)
f=dict(name="hello",extension="world")
h=bool(2)
i=b"hello"
j=bytearray(6)
k=memoryview(bytes(6))
l={123,234,56}
m=None
print(a,b,c,d,e,f,h,i,j,k,l,m,x,y,z)

1j ['fruit', 'color', 'bakers'] {'Nice', 'hello'} frozenset({'helloworld', 'myname'}) range(0, 7) {'name': 'hello', 'extension': 'world'} True b'hello' bytearray(b'\x00\x00\x00\x00\x00\x00') <memory at 0x00000280EBA02440> {56, 234, 123} None country 897 90.8

In [83]:
# Python Numbers:
#Int
a=6
b=3456889
c=-309876
print(type(a),type(b),type(c))

<class 'int'> <class 'int'> <class 'int'>

In [86]:
#Float
x=1.10
y=1.1002
z=000.09
print(type(x),type(y),type(z))
a=3455e98
b=34E987
c=-89.7e98
print(type(a),type(b),type(c))

<class 'float'> <class 'float'> <class 'float'>
<class 'float'> <class 'float'> <class 'float'>

In [87]:
#Complex Numbers:
x=1j
y=5+2j
z=0+12j
print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [92]:
#Conversion in one type to another:
x=12
y=89.78
z=5j
c1=float(x)
c2=int(y)
c3=complex(x)
print(type(c1))
print(type(c2))
print(type(c3))

<class 'float'>
<class 'int'>
<class 'complex'>

In [96]:
#Random Numbers:
import random
print(random.randrange(1,10))

5

In [97]:
#Casting in int():
x=int(3.0)
y=int(9)
z=int(786)
print(x,y,z)

3 9 786

In [98]:
#Casting in Float():
x=float(789)
y=float(789.6789)
z=float(1298)
print(x,y,z)

789.0 789.6789 1298.0

In [99]:
#Casting in strings:
x=str(987)
y=str(9.87)
z=str("Pakistan")
print(x,y,z)

987 9.87 Pakistan

In [100]:
#Strings:
print("Hello")
print('Hello')

Hello
Hello

In [101]:
#String inside a Double Quote
print("HELLO my dear friend's")
print("NEW 'MACHESTER'")
print('Who I "Am"')

HELLO my dear friend's
NEW 'MACHESTER'
Who I "Am"

In [104]:
#Assign String to a variable:
x="MY wORLD"
print(x)

MY wORLD

In [106]:
#Multline String:
x="""Practice makes man perfect Some people have curly brown hairs 
    who i am in this world lorum ipsum
    you are right"""
y='''Practice makes man perfect Some people have curly brown hairs 
    who i am in this world lorum ipsum
    you are right
   '''
print(x)
print(y)

Practice makes man perfect Some people have curly brown hairs
    who i am in this world lorum ipsum
    you are right
Practice makes man perfect Some people have curly brown hairs
    who i am in this world lorum ipsum
    you are right

In [108]:
# Strings as Array:
a="Pakistan"
print(a[7])

n

In [118]:
#String looping:
for x in "Fruits":
 print(x)
for x in "Islamabad":
   print((x))
y="Karachi"
print(len(y))

F
r
u
i
t
s
I
s
l
a
m
a
b
a
d
7

In [123]:
# Check Strings:
x=" Im free for now to hear you"
print("who" in x)
#check not in string:
print("saba"not in x)

False
True

In [129]:
#String Slicing:
x="Hello World"
print(x[3:5])
print(x[3:])
print(x[:6])
print(x[-5:-4])

lo
lo World
Hello
W

In [135]:
#Modify Strings:
x="Hello World"
print(x.upper())
print(x.lower())
print(x.strip())
print(x.split(","))
print(x.replace("l","d"))

HELLO WORLD
hello world
Hello World
['Hello World']
Heddo Wordd

In [147]:
#String Conactenation:
a="Python "
b="is "
c="Amazing "
d=a+b+c
print(d)
print( a +" " + b+ ""+c)

Python is Amazing
Python  is Amazing

In [156]:
#Format Strings:
age=18
txt=f"I am a girl{age}"
# Add PlaceHolders:
var=f"I am a girl{age}years old"
print(txt)
print(var)
#Add Modifiers:
price=59
text=f"I have a car of {price:.5f}with best condition"
math=f"oh wow you know math{20*98}"
print(text)
print(math)

I am a girl18
I am a girl18years old
I have a car of 59.00000with best condition
oh wow you know math1960

In [169]:
#Escape Sequence:
text='oh\'s nice you are right'
print(text)
text2="oh nice what are you doing\\"
print(text2)
text3="Manchester\nUniversity"
print(text3)
text4="\rManchesterUniversity"
text5="university\t\bpunjab"
print(text4,text5)
txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

oh's nice you are right
oh nice what are you doing\
Manchester
University
ManchesterUniversity universitypunjab
Hello

In [170]:
#Boolean Values:
print(10>6)
print(10==9)
print(7<=9)

True
False
True

In [176]:
#if and Else Condition
x=897
y=45
if y>x:
    print("y is greater than 100")
else:

    print("x is less than 100")

x is less than 100

In [179]:
# Values and Variables
print(bool("hello"))
print(bool(908654))
print(bool(0))

True
True
False

In [193]:
#Most values are true:
print(bool(123))
print(bool(["apple", "banana", "orange"]))

True
True

In [192]:
#most values are false:
print(bool("False"))
print (bool(()))
print (bool(0))
print (bool([]))
print (bool({}))
print (bool(""))

True
False
False
False
False
False

In [198]:
#def_len function
class my_class():
 def _len_(self):
  return 0
    
    
    
obj=my_class()
print(bool(obj))

True

In [200]:
#function returns true:
def sum():
    return True
sum()
print(bool(sum()))
if sum():
    print("Yes")
else:
    print("No")

True
Yes

In [239]:
#Check datatype:
x=10
print(isinstance( x, int))

True

In [202]:
# Operators:
print(10+5)

15

In [207]:
#Python Arthematic Operator:
x=5
y=10
print(x+y)
print(x//y)
print(x**y)
print(x-y)
print(x%y)

15
0
9765625
-5
5

In [217]:
#Python Assignment Operators:
x=5
y=10
print(x*y)
print(x**3)
print(x%10)
print(x:=3)

50
125
5
3

In [223]:
#python Comparison Operator:
x=50
y=100
print(x>=100)
print(x==y)
print(y!=x)
print(x<y)
print(y>x)
print(x<=8)

False
False
True
True
True
False

In [235]:
#Python Logical Operator:
y=10
if y>3 and y<7:
  print("true")
if y>2 or y<9:
   print("true")

x=5
print(not (x>3 and y>6))

true
False

In [248]:
# Python Identity Operator:
x=["red","yellow","green"]
y=["red","yellow","green"]
z=x=y
print(x is z)
print(x is not z)
print(z is y)
print(x!=y)

True
False
True
False

In [252]:
#Python Membership Operator:
x=["red","yellow","green"]
y=["red","yellow","green"]

print("green" in x)
print("green"not in x)

True
False

In [253]:
#Python Bitwise Operator:
x=10
y=6
print(x|6)

14

In [254]:
#precdence:
print((6+3)-(9-3))

3

In [255]:
print(200*50-40)

9960