# Python_List

In [1]:
# print the list
fruits=["Apple","orange","banana"]
print(fruits)

['Apple', 'orange', 'banana']

In [2]:
#length of the list:
fruits=["Orange","Yellow","Green","Blue"]
print(len(fruits))

4

In [5]:
#List Items Data Types:
item1=["hello","world","pakistan"]
item2=[True,False]
item3=[12,23,45,89]
print(type(item1)),
print(type(item2)),
print(type(item3))

<class 'list'>
<class 'list'>
<class 'list'>

In [5]:
#list allow duplicates column:
item1=["hello","world","hello"]
print(item1)
print(item1[2])

['hello', 'world', 'hello']
hello

In [9]:
#use a list constructor to make a list:
listitems=list(("world",'786',True))
print(listitems)

['world', '786', True]

In [15]:
#Python Access List items:
listitems=("Fruits","Vegetables","Russian")
print(listitems)
print(listitems[1])
#Negative Indexing:
print(listitems[-3])

('Fruits', 'Vegetables', 'Russian')
Vegetables
Fruits

In [19]:
#Range of Indexing:
items=["fruits","vegetables","thai","Russain","Italian","Chinese"]
print(items[1:5])
print(items[:6])
print(items[4:])

['vegetables', 'thai', 'Russain', 'Italian']
['fruits', 'vegetables', 'thai', 'Russain', 'Italian', 'Chinese']
['Italian', 'Chinese']

In [22]:
#Range of Negative Indexes:
items=["orange","apple","flowers","paratha","rolls"]
print(items[-5:-1])

['orange', 'apple', 'flowers', 'paratha']

In [23]:
#Check if item exists:
items=["orange","apple","flowers","rolls"]
if "flowers" in items:
    print("Yes items in this list")

Yes items in this list

In [24]:
#Change List items:
fruits=["kiwi",'orange','fastfoods']
fruits[2]="ITalian"
print(fruits)

['kiwi', 'orange', 'ITalian']

In [26]:
#Change range of list items:
items=["fruits","italian","thai"]
items[2:4]=["colddrinks","methai"]
print(items)
print(items[2])

['fruits', 'italian', 'colddrinks', 'methai']
colddrinks

In [31]:
#Replacing with one value:
items=["fruits","fastfoods","restaurants","oranges"]
items[2:3]=["italian"]
print((items))

['fruits', 'fastfoods', 'italian', 'oranges']

In [33]:
#Insert items using insert():
listitems=["fast","frozen","italian","linear"]
listitems.insert(4,"Russian")
print(listitems)

['fast', 'frozen', 'italian', 'linear', 'Russian']

In [3]:
#Add List Items append Function():

listitem=["fast","frozen","italian","linear"]
listitem.append("Chinese")
print(listitem)
listitem.insert(3,"watermelon")
print(listitem)

['fast', 'frozen', 'italian', 'linear', 'Chinese']
['fast', 'frozen', 'italian', 'watermelon', 'linear', 'Chinese']

In [4]:
#Use of Extend Function:
listitem=["fruits","vegetables","Russain","Pasta"]
listitem2=["Orange","veg","Indian","American"]
listitem.extend(listitem2)
print(listitem)

['fruits', 'vegetables', 'Russain', 'Pasta', 'Orange', 'veg', 'Indian', 'American']

In [5]:
#Use of Extend Function(list and tuple) Any Iterable:
listitem=["fruits","Vegetables","Russain","Pasta"]
listitem2=('fruits','Vegetables')
listitem.extend(listitem2)
print(listitem)

['fruits', 'Vegetables', 'Russain', 'Pasta', 'fruits', 'Vegetables']

In [2]:
#Remove list items:
items=["fruits","Vegetables","Russain"]
items.remove("Russain")
print(items)

['fruits', 'Vegetables']

In [6]:
#Remove using pop method and if not specified any index it will remove last items:
items=["Fruits","Vegetables","Bakery","Choclates","Cake"]
items.pop(1)
print(items)
items.pop()
print(items)

['Fruits', 'Bakery', 'Choclates', 'Cake']
['Fruits', 'Bakery', 'Choclates']

In [9]:
#Remove Specified Index:
items=["Fruits","Vegetables","Bakery","Choclates","Cake"]
del items[2]
print(items)

['Fruits', 'Vegetables', 'Choclates', 'Cake']

In [10]:
#clear() used to remove items
items=["Fruits","Vegetables","Bakery","Choclates","Cake"]
items.clear()
print(items)

[]

In [11]:
#loop through list items:
items=["Choclate","Icecream","Pizza","Burger"]
for x in items:
    print(x)

Choclate
Icecream
Pizza
Burger

In [15]:
#list through len and range function:
items=["Choclates","Vegetables","Pizza","Burger"]
for i in range(len(items)):
    print(items[i])

Choclates
Vegetables
Pizza
Burger

In [13]:
# use of while loop:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [18]:
#Comprehension list:
items=["apple","banana","cherry"]
[print (x) for x in items]

apple
banana
cherry

[None, None, None]

In [21]:
# without Comprehsnion list:
items=["fruits","orange","apple"]
newlist=[]
for x in items:
    if "a" in x:
        newlist.append(x)
print(newlist)

['orange', 'apple']

In [22]:
#list Comprehesnion:
items=["Fruits","Orange","Apple"]
newlist=[x for x in items if "a"in x]
print(newlist)

['Orange']

In [26]:
item=["fruits","vegetables","roll"]
newlist=[x for x in range(10)]
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
# use  of uppercase function:
item=["fruits","vegetables","roll"]
newlist=[x.upper() for x in item]
print(newlist)

['FRUITS', 'VEGETABLES', 'ROLL']

In [30]:
#only accept numbers:
item=["fruits","vegetables","roll"]
newlist=[x for x in range(10) if x<5]
print(newlist)

[0, 1, 2, 3, 4]

In [33]:
#print all numbers:
item=["fruits","vegetables","roll"]
newlist=["Pakistan" for x in item]
print(newlist)
newitem=[x if x!="fruits"else"vegetables" for x in item]
print(newitem)

['Pakistan', 'Pakistan', 'Pakistan']
['vegetables', 'vegetables', 'roll']

In [38]:
#Sort List:
listitems=["fruits","vegetables","roll"]
listitems.sort()
numlist=[12,34,12,345,98]
print(listitems)
numlist.sort()
print(numlist)

['fruits', 'roll', 'vegetables']
[12, 12, 34, 98, 345]

In [39]:
#Sort Descending:
numlist=[12,45,67,23,56,9,14,3,7]
numlist.sort(reverse=True)
print(numlist)

[67, 56, 45, 23, 14, 12, 9, 7, 3]

In [41]:
#Customize Sort Function:
def myfunc (n):
    return abs(n -50)
item=[23,34,78,45]
item.sort(key=myfunc)
print(item)

[45, 34, 23, 78]

In [52]:
#Customize lower function:

thislist = ["apple", "banana", "cherry"]
thislist.sort(key=str.lower)
print(thislist)

['apple', 'banana', 'cherry']

In [53]:
#Reverse the order of the list:
thislist=["apple","mango","orange"]
thislist.reverse()
print(thislist)

['orange', 'mango', 'apple']

In [54]:
#Copy a list:
thislist=["apple", "banana", "cherry"]
newlist=thislist.copy()
print(newlist)

['apple', 'banana', 'cherry']

In [55]:
#use builtin list function:
thislist = ["apple", "banana", "cherry"]
newlist=list(thislist)
print(newlist)

['apple', 'banana', 'cherry']

In [56]:
#using slice operator:
thislist=[234,567,89,56,23]
list2=thislist[:]
print(list2)

[234, 567, 89, 56, 23]

In [58]:
#copy list items:
newitem=['a','b','c']
item2=['d','e','f']
cat=newitem+item2
print(cat)

['a', 'b', 'c', 'd', 'e', 'f']

In [61]:
#using append method:
newitem=['a','b','c']
item2=['d','e','f']
for x in item2:
  newitem.append(x)
print(newitem)

['a', 'b', 'c', 'd', 'e', 'f']

In [62]:
# using extend function:
newitem=['a','b','c']
item2=['d','e','f']
newitem.extend(item2)
print(newitem)

['a', 'b', 'c', 'd', 'e', 'f']

#Python Tuples:

# Python Tuple:
mytuples=("apple","cherry","Watermelon")
print(mytuples)

In [2]:
#Tuple length:
myvar=("apple","cherry","orange","flower")
print(len(myvar))

4

In [4]:
#Tuple-type:
var=("apple",)
name=("pineapple")
print(type(var))
print(type(name))

<class 'tuple'>
<class 'str'>

In [7]:
#Tuple with different items:
var=("fruits","train","car","aeroplane")
print(type(var))
myname=("hello",12344,True,False)

<class 'tuple'>

In [9]:
#Tuple Constructor:
items=tuple(("fruits","Vegetables","Aeroplanes"))
print(items)

('fruits', 'Vegetables', 'Aeroplanes')

In [17]:
#Access Tuple items,Range of Tuple Negative indexes:
name=("samra","noor","fatima","anaya")
print(name[3])
print(name[:3])
print(name[2:])
print(name[-1:-3])

anaya
('samra', 'noor', 'fatima')
('fatima', 'anaya')
()

In [20]:
#using Conditional statement:
name=("samra","noor","fatima","Mahnoor")
if "Eman" in name:
    print("Yes name is present in the tuple")
else:
    print("name is not present")

name is not present

In [1]:
#Update Tuples:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "orange"
x = tuple(y)

print(x)

('apple', 'orange', 'cherry')

In [3]:
#Add items:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [4]:
#Add tuple to a tuple:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple =thistuple+ y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [6]:
#Remove items:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')

In [7]:
#Unpacking a Tuple:
fruits = ("apple", "banana", "cherry")

(x, y,z) = fruits

print(x)
print(y)
print(z)

apple
banana
cherry

In [9]:
#using *Asteriks:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(x, y, *z) = fruits

print(x)
print(y)
print(z)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [10]:
#Loop through the index number:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [11]:
#using while loop
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

In [12]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [13]:
#multiple tuples:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

# Python Sets:

In [1]:
#Sets:
mysets={"samra","fatima","aqsa"}
print(mysets)

{'aqsa', 'fatima', 'samra'}

In [6]:
#Duplicates not allowed Boolen values treated as double:
mysets={"fruits","orange","apple","egg","apple"}
mysets={"Fruits",True,False,"hello",1,34,0}
print(len(mysets))

5

In [12]:
#Sets Data can be any type,Get set type:
Set1={12,23,45,68}
set2={"Hello","world","What are you doing"}
set3={True,False,0,1,2,3}
print(Set1,set2,set3)
print(type(Set1),type(set2),type(set3))

{45, 68, 12, 23} {'Hello', 'world', 'What are you doing'} {False, True, 2, 3}
<class 'set'> <class 'set'> <class 'set'>

In [14]:
#Set Constructor:
myset=set(("Hello","world","heel","shoes"))
print(myset)

{'shoes', 'Hello', 'world', 'heel'}

In [23]:
#Access items:
myset=set(("Hello","world","heel","shoes"))
for x in myset:
    print(x)
print("heeL" in myset)
print("world" not in myset)

shoes
Hello
world
heel
False
False

In [24]:
#Add set items:
myset={"hello","what","samra","pakistan"}
myset.add("Tuesday")
print(myset)

{'Tuesday', 'pakistan', 'hello', 'samra', 'what'}

In [26]:
#Add one set into another:
myset={"add","two","three","four"}
myset2={"add","two","three","hello"}
myset.update(myset2)
print(myset)

{'hello', 'two', 'four', 'three', 'add'}

In [27]:
#Add any itertable:
myset={"add","two","three","four"}
list=[12,23,34,56,67]
myset.update(list)
print(myset)

{34, 67, 'two', 12, 'four', 'three', 23, 'add', 56}

In [29]:
#Remove items:
myset={"apple","Banana","Orange","Apple"}
myset.remove("apple")
myset.discard("Apple")
print(myset)

{'Banana', 'Orange'}

In [35]:
#Use Pop method:
myset={"apple","Banaana","four","Apple"}
b=myset.pop()
print(b)
print(myset)
myset.clear()
print(myset)

apple
{'four', 'Banaana', 'Apple'}
set()

In [37]:
#loop sets:
set={"apple","Banana","Orange","Apple"}
for x in set:
    print(x)

Banana
apple
Orange
Apple

In [42]:
#join through union items:
item1={'a','b','c','d','e'}
item2={12,13,14,15,16,17,18,19,20}
item3=item1.union(item2)
item4=item1|item2
print(item3)
print(item4)

{'a', 12, 'd', 13, 14, 15, 16, 17, 18, 19, 20, 'e', 'c', 'b'}
{'a', 12, 'd', 13, 14, 15, 16, 17, 18, 19, 20, 'e', 'c', 'b'}

In [46]:
#Join Multiple Sets:
item1={'a','b','c','d','e'}
item2={12,13,14,15,16,17,18,19,20}
item3={'a','b','c','d','e'}
item4={12,13,14,15,16,17,18,19,20}
item5=item1.union(item2,item3,item4)
item6=item1|item2|item3|item4
print(item5)
print(item6)

{12, 'd', 13, 14, 15, 16, 17, 18, 19, 20, 'c', 'a', 'e', 'b'}
{12, 'd', 13, 14, 15, 16, 17, 18, 19, 20, 'c', 'a', 'e', 'b'}

In [47]:
#Join Set With Tuples:
item1={"fruits","apples","oranges","fruits"}
item3=(12,34,56,78)
item4=item1.union(item3)
print(item4)

{34, 'apples', 12, 78, 'fruits', 'oranges', 56}

In [61]:
#Update method:
item1={"apple", "banana", "cherry"}
item2={"google", "microsoft", "apple"}
item1.update(item2)
print(item1)
#intersection and & operator:

item3=item1 .intersection (item2)
print(item3)

{'apple', 'microsoft', 'cherry', 'banana', 'google'}
{'apple', 'microsoft', 'google'}

In [56]:
# Use of & operator:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

In [63]:
#intersection_update:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft"}

set1.intersection_update(set2)
print(set1)

set()

In [72]:
#Boolean types:
#Difference types and difference_update
set1={"apple",True,12,0}
set2={False,"fruits",1,False}
set3=set1.intersection(set2)
set4=set1.difference(set2)
set1.difference_update(set2)
print(set3)
print(set4)
print(set1)

{False, 1}
{'apple', 12}
{'apple', 12}

In [76]:
#Symmetric_Difference and ^ operator
set1={"apple",True,12,0}
set2={False,"fruits",1,False}
set3=set1.symmetric_difference(set2)
set4=set1^set2
set1.symmetric_difference(set2)
print(set1)
print(set4)
print(set3)

{0, 'apple', 12, True}
{12, 'apple', 'fruits'}
{12, 'apple', 'fruits'}

# Python Dictonories:

In [88]:
# Create Dictinory and access value,Dictionary lengthand data types:

data={
    "model":2020,
    "car":"Carolla",
    "color":"White",
    "item1":[234,456,678],
    "item2":"hello",
    "item3":"True"
}


print(data)
print(data["color"])
print(len(data))
print(type(data))

{'model': 2020, 'car': 'Carolla', 'color': 'White', 'item1': [234, 456, 678], 'item2': 'hello', 'item3': 'True'}
White
6
<class 'dict'>

In [90]:
#Use of dict() operator:
mydata=dict(name="samra",place="wahcantt",car="Black")
print(mydata)

{'name': 'samra', 'place': 'wahcantt', 'car': 'Black'}

In [94]:
#Accessing items using get method:
data={
"car":"Blue",
"Color":"Orange",
"Model":"2017"
}
x=data["Model"]
x
y=data.get("Model")
print(y)

2017

In [103]:
#Accessing keys and values items also update keys:

data={
    "model":2020,
    "car":"Carolla",
    "color":"White",
    "item1":[234,456,678],
    "item2":"hello",
    "item3":"True"
}
print(data.keys())
print(data.values())
x=data.values()
x
data["model"]=2020
data["city"]="Islamabad"
data.items()
print

dict_keys(['model', 'car', 'color', 'item1', 'item2', 'item3'])
dict_values([2020, 'Carolla', 'White', [234, 456, 678], 'hello', 'True'])

In [106]:
#items method and check :

data={
    "model":2020,
    "car":"Carolla",
    "color":"White",
    "item1":[234,456,678],
    "item2":"hello",
    "item3":"True"
}
print(data.items())
if "item2" in data:
    print(True)

dict_items([('model', 2020), ('car', 'Carolla'), ('color', 'White'), ('item1', [234, 456, 678]), ('item2', 'hello'), ('item3', 'True')])
True

In [4]:
#Check if key exist:
data={
    "model":2020,
    "car":"Carolla",
    "color":"White",
    "item1":[234,456,678],
    "item2":"hello",
    "item3":"True"
}
if "pakistan" in data:
    print(data.values())

In [9]:
#Access items,Update Dictionary:
data={
     "model":2020,
    "car":"Carolla",
    "color":"White",
    "item1":[234,456,678],
    "item2":"hello",
    "item3":"True"
}
x=data.keys()
data["model"]=3028
print(data.values())
print(data.items())
print(data.update({"color":"Black"}))
print(data)

dict_values([3028, 'Carolla', 'White', [234, 456, 678], 'hello', 'True'])
dict_items([('model', 3028), ('car', 'Carolla'), ('color', 'White'), ('item1', [234, 456, 678]), ('item2', 'hello'), ('item3', 'True')])
None
{'model': 3028, 'car': 'Carolla', 'color': 'Black', 'item1': [234, 456, 678], 'item2': 'hello', 'item3': 'True'}

In [18]:
#Remove items:
data={
     "model":2020,
    "car":"Carolla",
    "color":"White",
    "item1":[234,456,678],
    "item2":"hello",
    "item3":"True"
}
data.pop("color")
del data["item1"]
print(data)
data.clear()
print(data)

{'model': 2020, 'car': 'Carolla', 'item2': 'hello', 'item3': 'True'}
{}

In [25]:
#Loop Dictionaries:
data={
     "model":2020,
    "car":"Carolla",
    "color":"White",
    "item1":[234,456,678],
    "item2":"hello",
    "item3":"True"
}
for x in data:
    print(x)
for x in data:# if want to print values:
     print(data[x])
# Use key and value method:
for x in data.keys():
    print(x)
for x in data.values():# if want to print values:
 print(x)

model
car
color
item1
item2
item3
2020
Carolla
White
[234, 456, 678]
hello
True
model
car
color
item1
item2
item3
2020
Carolla
White
[234, 456, 678]
hello
True

In [26]:
#Loop both keys and values:
for x in data.items():
    print(x)

('model', 2020)
('car', 'Carolla')
('color', 'White')
('item1', [234, 456, 678])
('item2', 'hello')
('item3', 'True')

In [27]:
# Copy Dictionaries:
data={
    "model":2020,
    "car":"Carolla",
    "color":"White",
    "item1":[234,456,678],
    "item2":"hello",
    "item3":"True"
}
newdict=data.copy()
print(newdict)

{'model': 2020, 'car': 'Carolla', 'color': 'White', 'item1': [234, 456, 678], 'item2': 'hello', 'item3': 'True'}

In [28]:
#use dict method:
data={
    "model":2020,
    "car":"Carolla",
    "color":"White",
    "item1":[234,456,678],
    "item2":"hello",
    "item3":"True"
}
newdict=dict(data)
print(newdict)

{'model': 2020, 'car': 'Carolla', 'color': 'White', 'item1': [234, 456, 678], 'item2': 'hello', 'item3': 'True'}

In [30]:
# use nested dictionaries:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [1]:
#add new dictionary into nested dictionaries:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
family2={
    "child1":"child1",
    "child2":"child2",
    "child3":"child3"
}
print(family2)

{'child1': 'child1', 'child2': 'child2', 'child3': 'child3'}

In [34]:
#Loop through nested Dictionaries:
for x, obj in myfamily.items():
  print(x)

  for y in obj:
    print(y + ':', obj[y])

child1
name: Emil
year: 2004
child2
name: Tobias
year: 2007
child3
name: Linus
year: 2011