# Python Loop,Conditional statements,Functions:

In [9]:
#While loop:
i=1
while(i<6):
    #print(i)
    i=i+1

2
3
4
5
6

In [2]:
# Use of break statement:
i = 1
while (i < 6):
  print(i)
  if i == 3:
    break
  i=i+1

1
2
3

In [7]:
# Use of Continue statment:
i = 0
while i < 7:
  i=i+1
  if i == 6:
    continue
  print(i)

1
2
3
4
5
7

In [10]:
#Use of else statement:
i=0
while i < 7:
  print(i)
  i=i+1
else:
  print("Above Condition is false:")

0
1
2
3
4
5
6
Above Condition is false:

In [22]:
#Use of For loops:
items=["Fruits","Foods","Oranges","Mango"]
for x in items:
    print(x)
    if x=="Oranges":
      break

Fruits
Foods
Oranges

In [23]:
#Loop through indexing:
for x in "Restaurant":
    print(x)

R
e
s
t
a
u
r
a
n
t

In [27]:
# Use Of Continue Statement:
items=["Apple","Mango","Oranges","Foods","Banana"]
for x in items:
    if x=="Foods":
        continue
    print(x)

Apple
Mango
Oranges
Banana

In [33]:
# Use OF range Function:
for x in range(9):
    print(x)
for x in range(2,9):
    print(x)
for x in range(2,30,40):
    print(x)

0
1
2
3
4
5
6
7
8
2
3
4
5
6
7
8
2

In [34]:
#Else in for loops:
for x in range(10):
    print(x)
else:
    print("Not in a range")

0
1
2
3
4
5
6
7
8
9
Not in a range

In [37]:
#Else using Break statement:
for x in range(10):
    print(x)
    if x==8:
      break
else:
       print("Loop finished")

0
1
2
3
4
5
6
7
8

In [39]:
# Nested Loops:
list1=["samra","fatima","Ayesha","Momna"]
list2=["Ayesha","Noor","Maham"]
for x in list1:
    for y in list2:
      print(x,y)

samra Ayesha
samra Noor
samra Maham
fatima Ayesha
fatima Noor
fatima Maham
Ayesha Ayesha
Ayesha Noor
Ayesha Maham
Momna Ayesha
Momna Noor
Momna Maham

In [40]:
# Pass statement:
for x in "Hello to the future":
    pass

In [43]:
# If Statements Python Condition and Else statement:
a=890
b=100
if b>a:
    print("B is greater ")
elif a==b:
    print("My Condition is true")
else:
    print("Both Conditions are not true")

Both Conditions are not true

In [49]:
# Short hand if statement:
a=12
b=23
print("My Condition not true") if a>b else print ("My condition is true")
# Another Example:
a=97
b=12
print("A") if a>b else print("B")
# Another Example with three conditions:
a=97
b=12
print("A")if b>a else print("Condition two is true") if b<a else("Both are false")

My condition is true
A
Condition two is true

In [53]:
#Use of logical  Operator:
a=123
b=234
c=987
if a>b and b>c:
    print("A is greater")
if a<b or b>a:
    print("B is greater")
if not c> a:
    print("C is larger")

B is greater

In [59]:
# Nested if statement:
X=100
if X<1000:
    print("X is a greater numbers")
    if X>=100:
         print("x is smaller number")
    else:
        print("Not a number")

X is a greater numbers
x is smaller number

In [61]:
# Use of Pass statement in if statement:
X=100
if X==1000:
   pass

Python Functions:

In [63]:
# Creating a function:
def myfunc():
    print("This is my function")
# Calling a function:
myfunc()

This is my function

In [68]:
# Passing an arguments:
def name(fname):
    print(fname+ " " + "Hellolady")
name("Samra")
name("fatima")
name("Ayesha")

Samra Hellolady
fatima Hellolady
Ayesha Hellolady

In [73]:
#Function Arguments:
def name(fname,lname):
    print("Hello world what are you doing")
    print(fname +" "+lname)
name("Samra","Ashraf")
# if passed one arguments:
def name(fname,lname):
    print("Hello world what are you doing")
    print(fname,lname)
name("Samra")

Hello world what are you doing
Samra Ashraf

TypeError: name() missing 1 required positional argument: 'lname'

In [78]:
# Arbitrary Arguments:
def calculate(*numbers):
    print("Print the number",numbers[2])
calculate(7,9,23,2)

Print the number 23

In [80]:
#key value Arguments:
def sum(num1,num2,num3):
    print("add two arguments with these"+num2+" " +num3)
sum(num1="Math",num2="Computer Science",num3="English")

add two arguments with theseComputer Science English

In [82]:
#Arbitaray key word Arguments **kwargs:
def sum(**num):
    print("Add these number",num["fname"])
sum(lname="Samra",fname="Fatima")

Add these number Fatima

In [85]:
#Default Arguments:
def my_function(country="Norway"):
    print("the country  is " + country)
my_function("Pakistan")
my_function("England")
my_function()
my_function("America")

the country  is Pakistan
the country  is England
the country  is Norway
the country  is America

In [87]:
#Passing List as an arguments:
def items(foods):
    for x in foods:
        print(x)
Food_item=["Biryani","Pasta","Burger"]
items(Food_item)

Biryani
Pasta
Burger

In [89]:
#Return Values:
def calculate(x):
    return x*5
print(calculate(5))
print(calculate(10))
print(calculate(15))

25
50
75

In [90]:
# Pass Stataement:
def calculate(x):
    pass

In [93]:
#Positional Arguments:
def calculate(x,/):
    print(x)
calculate(30)

30

In [94]:
# Without specify Positional Arguments:
#Positional Arguments:
def calculate(x):
    print(x)
calculate(x=30)

30

In [95]:
# if specify Positional Arguments with key
#Positional Arguments:
def calculate(x,/):
    print(x)
calculate(x=30)

TypeError: calculate() got some positional-only arguments passed as keyword arguments: 'x'

In [98]:
# Keyword only one arguments:
def my_function(*, x):
  print(x)

my_function(x = 67)

67

In [100]:
#Combine Positional only and keyword only:
def my_function(a,b,/,*,c,d):
    print(a+b+c+d)
my_function(10,20,c=30,d=40)

100

In [101]:
#Recursion:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21