# PYTHON LAMBDA FUNCTION:

In [1]:
#Use of lambda function
x=lambda a:a+10
print(x(5))

15

In [2]:
#Multiply multiple arguments:
x=lambda a,b:a*b 
print(x(5,90))

450

In [3]:
#Summarize multiple arguments:
x=lambda a,b,c:a+b+c
print(x(23,34,89))

146

In [4]:
# Use of lambda function:
def myfunction(n):
    x= lambda a:a*n

In [13]:
# Use of function that doubles the number:
def myfunction(n):
    return lambda a:a*n
mydouble=myfunction(4)
print(mydouble(3))
# Use of function that triples the number:
def calculate(n):
    return lambda a:a*n
triple=calculate(23)
print(triple(12))

12
276

In [14]:
# Use of tripler and doubler function in a same position:
def myfunction(n):
    return lambda a:a*n
my_double=myfunction(2)
print(my_double(11))
my_triple=myfunction(3)
print(my_triple(11))

22
33

In [1]:
#Arrays:
cars=["Ford","Car","BMW"]

In [8]:
#Accessing&Modifying  Array Element:
cars=["Ford","Car","BMW"]
car1=[0]
car2=[1]
car3=[2]
x=cars[2]
print(x)
cars[2]="Craolla"
print(cars)

BMW
['Ford', 'Car', 'Craolla']

In [8]:
#Removing one element and array:
cars=["Ford","Car","BMW"]
cars.pop(1)
cars.remove("Ford")
cars

['BMW']

#Classes in Python:

In [3]:
# Create a Class
class MyClass:
    x=5

print(MyClass)

<class '__main__.MyClass'>

In [7]:
# Create a object:
class MyClass:
    x=10
P=MyClass()
print(P.x)

10

In [14]:
#use_init__ function:
class MyClass:
    def __init__(self,name,age):
        self.name=name
        self.age=age
p=MyClass("Ayesha",78)
print(p.name)
print(p.age)

Ayesha
78

In [15]:
#Without string Function:
class MyClass:
    def __init____ (self,name,age):
        self.name=name
        self.age=age
p=MyClass("Ayesha",56)
print(p)

TypeError: MyClass() takes no arguments

In [25]:
#With String Function:
class MyClass:
    def ___init___(self,name,age):
        self.age=age
        self.name=name

    def __str__(self):
       return f"{self.name}({self.age})"
    
p=MyClass("Ayesha",89)
print(p)

TypeError: MyClass() takes no arguments

In [24]:
class MyClass:
    def __init__(self, name, age):  # Corrected from ___init___ to __init__
        self.age = age
        self.name = name
        
    def __str__(self):  # Corrected from __str___ to __str__
        return f"{self.name}({self.age})"

p = MyClass("Ayesha", 89)
print(p)

Ayesha(89)

In [41]:
#use of Object methods:
class myClass:
     def __init__(self,name,age):
          self.name=name
          self.age=age
     def myfunc(self):
           print("Hello world I'm here"+self.name)


p1=myClass("Samra",21)
p1.myfunc()

Hello world I'm hereSamra

In [52]:
#Self Parameters and modifying object property:
class Person:
    def __init__ (myobject,name,age):
        myobject.name=name
        myobject.age=age
    def  myfunc(abc):
        print("Hello to the future"+abc.name)
p1=Person("samra",98)
p1.myfunc()
p1.age=70

# Del Object Property
del p1.age
print(p1.age)

Hello to the futuresamra

AttributeError: 'Person' object has no attribute 'age'

In [54]:
# Pass Statement:
class Car:
    pass